@import "~bootstrap/scss/bootstrap.scss";

.holder{
    background: black;
    height: 150px;
}

.sec1, .sec2, .sec3, .sec4, .clock {
    background: green;
    width: 100px;
    height: 150px;
    margin-left: 30px;
    text-align: center;
    color:white;
    font-size: 90px;
    border-radius: 10px;


}